# Rust
/target/
**/target/
Cargo.lock

# Node
/node_modules/
/public/node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
ENV/

# Editor
.vscode/
.idea/
.DS_Store

# Logs and env
*.log
.env
